body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 30px;
    font-size: 18px;

}

article {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
}   

.right-image {
    width: 400px; /* Adjust the width of the image */
    float: right;
    /*border: 1px solid #ccc; /* Optional: Add border or other styles */
}